<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32100">
    	<setting id="clear_cache_button"  type="action"      label="32101"  default="" action="RunAddon(script.music.duck_go,mode=action&arg1=clear_cache)" />
		<setting id="use_hq_image"        type="bool"        label="32115"  enable="true"               />
    	
    	<setting id="new_image_wait_sec"  type="number"      label="32106"  default="5"                   />
    	
    	<!-- setting id="cx1"              type="text"        label="32102"  default=""                   />
    	<setting id="key1"             type="text"        label="32103"  default=""                   />
    	<setting id="key2"             type="text"        label="32103"  default=""                   />
    	<setting id="key3"             type="text"        label="32103"  default=""                   />
    	<setting id="key4"             type="text"        label="32103"  default=""                   />
    	<setting id="key5"             type="text"        label="32103"  default=""                   />
    	<setting id="key6"             type="text"        label="32103"  default=""                   />
    	<setting id="key7"             type="text"        label="32103"  default=""                   />
    	<setting id="key8"             type="text"        label="32103"  default=""                   />
    	<setting id="key9"             type="text"        label="32103"  default=""                   />
    	<setting id="key10"            type="text"        label="32103"  default=""                   /-->

    	
    </category>

    <category label="32200">
    	<setting id="search_no_music_interval" type="number"      label="32202"  default="10"/>
    	<setting id="label1"                   type="lsep"        label="32201"  enable="true"               />
    	<setting id="search_no_music1"         type="text"        label="32104"  default="universe[pages=4]"/>
    	<setting id="search_no_music2"         type="text"        label="32104"  default="[terms=turtles,jellyfish,lionfish]"/>
    	<setting id="search_no_music3"         type="text"        label="32104"  default="[terms=cake,fruit] dessert"/>
    	<setting id="search_no_music4"         type="text"        label="32104"  default="animation site:rogerebert.com[pages=3]"/>
    	<setting id="search_no_music5"         type="text"        label="32104"  default="portrait[terms=site:overwatch.gamepedia.com,site:https://playoverwatch.com]"/>
    	<setting id="search_no_music6"         type="text"        label="32104"  default="png site:bulbapedia.bulbagarden.net[pages=3]"/>
    	<setting id="search_no_music7"         type="text"        label="32104"  default="[terms=items,enemies] png site:skyrim.gamepedia.com"/>
    	<setting id="search_no_music8"         type="text"        label="32104"  default="[terms=zelda,link,warriors]site:zelda.wikia.com"/>
    	<setting id="search_no_music9"         type="text"        label="32104"  default="poster fantasy site:imdb.com"/>
    </category>

    <category label="32250">
    	<setting id="enable_music_search" type="bool"        label="32251"  default="true"/>
    	<setting id="label1"              type="sep"                                                      />
    	
		<setting id="label1"              type="lsep"        label="32105"  enable="eq(-2,true)"               />
    	<setting id="search_template"     type="text"        label="32104"  enable="eq(-3,true)" default="'{title}' related:'{artist}' "                   />
    	<setting id="search_template2"    type="text"        label="32109"  enable="eq(-4,true)" default="'{artist}' music"                   />
    	<setting id="label1"              type="sep"                        enable="eq(-5,true)"                             />
    	
    	<setting id="show_title"          type="bool"        label="32107"  enable="eq(-6,true)" default="true"/>

    	<setting id="label1"              type="lsep"        label="32111"  enable="eq(-7,true)"               />
    	<setting id="filter_url"          type="text"        label="32112"  enable="eq(-8,true)" default="musicnotes,musicaneo.com,sheetmusic,mysongbook"     />

    	<setting id="label1"              type="lsep"        label="32113"  enable="eq(-9,true)"               />
    	<setting id="filter_title"        type="text"        label="32114"  enable="eq(-10,true)" default="chords,sheet music,notation,midi"                   />
    </category>

</settings>




