<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32100">
    	<!-- setting id="clear_cache_button"  type="action"      label="32101"  default="" action="RunAddon(script.music.duck_go,mode=action&arg1=clear_cache)"/-->
		<setting id="label1"              type="lsep"        label="32105"  enabled="true"               />
    	<setting id="search_template"     type="text"        label="32104"  default="'{title}' related:'{artist}' music art images"                   />
    	<setting id="label1"              type="lsep"        label="32110"  enabled="true"               />
    	<setting id="search_template2"    type="text"        label="32109"  default="'{artist}' music"                   />
    	
    	<setting id="new_image_wait_sec"  type="number"      label="32106"  default="5"                   />
    	<setting id="show_title"          type="bool"        label="32107"  default="true"/>
    	
    	<!-- setting id="cx1"              type="text"        label="32102"  default=""                   />
    	<setting id="key1"             type="text"        label="32103"  default=""                   />
    	<setting id="key2"             type="text"        label="32103"  default=""                   />
    	<setting id="key3"             type="text"        label="32103"  default=""                   />
    	<setting id="key4"             type="text"        label="32103"  default=""                   />
    	<setting id="key5"             type="text"        label="32103"  default=""                   />
    	<setting id="key6"             type="text"        label="32103"  default=""                   />
    	<setting id="key7"             type="text"        label="32103"  default=""                   />
    	<setting id="key8"             type="text"        label="32103"  default=""                   />
    	<setting id="key9"             type="text"        label="32103"  default=""                   />
    	<setting id="key10"            type="text"        label="32103"  default=""                   /-->

    	
    </category>

    <category label="32200">
    	<setting id="search_no_music_interval" type="number"      label="32202"  default="10"/>
    	<setting id="label1"                   type="lsep"        label="32201"  enabled="true"               />
    	<setting id="search_no_music1"         type="text"        label="32104"  default="landscape"/>
    	<setting id="search_no_music2"         type="text"        label="32104"  default=""/>
    	<setting id="search_no_music3"         type="text"        label="32104"  default=""/>
    	<setting id="search_no_music4"         type="text"        label="32104"  default=""/>
    	<setting id="search_no_music5"         type="text"        label="32104"  default=""/>
    	<setting id="search_no_music6"         type="text"        label="32104"  default=""/>
    </category>

</settings>